
/* --- Draggable Button Style --- */

.button {
    --button-size: clamp(5vh, 7vh, 10vh);
    position: absolute;
    width: var(--button-size);
    height: var(--button-size);
    border-radius: 50%;
    z-index: 1000;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3vh;
    font-family: "Noto Emoji", monospace;
    color: white;
    pointer-events: auto;
    cursor: grab;
    transition: transform 0.1s linear;

    user-select: none;
}

.button.front {
    pointer-events: auto;
    cursor: grab;
    height: calc(var(--button-size) + 3px);
    width: calc(var(--button-size) + 3px);
}
