:root{
    /*these are edited by the script colors.js, don't worry about it*/
    --color0:ffffff;
    --color1:ffffff;
    --color2:ffffff;
    --color3:ffffff;
    --color4:ffffff;
    --color5:ffffff;
    --color6:ffffff;

    --colorDark0:000000;
    --colorDark1:000000;
    --colorDark2:000000;
}


.colorful_0 { color:var(--color0) }

.colorful_1 { color:var(--color1) }

.colorful_2 { color:var(--color2) }

.colorful_3 { color:var(--color3) }

.colorful_4 { color:var(--color4) }

.colorful_5 { color:var(--color5) }

.colorful_6 { color:var(--color6) }

.colorfulDark_0 { color:var(--colorDark0) }

.colorfulDark_1 { color:var(--colorDark1) }

.colorfulDark_2 { color:var(--colorDark2) }
