body, html {
    margin: 0;
    padding: 0;
    overflow: hidden;
    font-family: 'something', monospace;
}

#background {
    z-index: -5;
    position: fixed;
    width: 100vw;
    height: 100vh;
    background-image: url(/assets/images/gif/spiral.gif);
    background-repeat: repeat;
    overflow: hidden;
}

.starry {
    background-image: url(/assets/images/backgrounds/stars3.gif);
    background-repeat: repeat;
}

/* header 
    contains title of page sometimes*/

header {
    width: 100%;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

header .header-text {
    padding: 0.5vh;
    border-style: solid;
    border-width: 1vh;
}

header h1 {
    font-family: 'something', monospace;
    font-size: 3vw;
    text-shadow: 2px 2px 2px var(--colorDark1);
    color: var(--color2);
}

header p {
    font-family: 'something', monospace;
    font-size: 0.9vw;
    text-shadow: 2px 2px 2px var(--colorDark1);
    color: var(--color2);
}

main {
    width: 2000px;
    height: 1200px;
    display: grid;
    grid-template-areas:
    'm m a a a a'
    'b c c c c d'
    'b e e e e e';
}

.grid_A {
    grid-area: a;
}
.grid_B {
    grid-area: b;
}
.grid_C {
    grid-area: c;
}
.grid_D {
    grid-area: d;
}
.grid_E {
    grid-area: e;
}
.grid_M {
    grid-area: m;
}

main section.grid {
    background-color: var(--color1);
    border: 1px solid var(--colorDark1);
    width: auto;
    height: auto;
    padding: 1rem;
    
}

.grid_M {
    grid-area: m;
}

/* footer 
    contains version and author */

footer {
    position:absolute;
    margin-right: 1vw;
    bottom:0;
    right:0
}

footer p {
    text-shadow: 2px 2px 2px var(--colorDark1);
}

/* weird stuff */

.tutorial {
    display: none;
}

/* fonts */

/* importing noto emoji font */
@import url('https://fonts.googleapis.com/css2?family=Noto+Emoji:wght@300..700&display=swap');


@font-face {
    font-family: 'something';
    src: url('/assets/fonts/woff/texgyreadventor-regular.woff') format('woff');
}

@font-face {
    font-family: 'nothing';
    src: url('/assets/fonts/woff/AdwaitaMono-Regular.woff') format('woff');
}

@font-face {
    font-family: 'anything';
    src: url('/assets/fonts/woff/unifont.woff') format('woff');
}