body, html {
    margin: 0;
    padding: 0;
    overflow: hidden;
    font-family: 'anything', monospace;
}

#background {
    z-index: -5;
    position: fixed;
    width: 100vw;
    height: 100vh;
    background-image: url(/assets/images/backgrounds/stars3.gif);
    background-repeat: repeat;
    overflow: hidden;
}

.starry {
    background-image: url(/assets/images/backgrounds/stars3.gif);
    background-repeat: repeat;
}

/* header 
    contains title of page sometimes*/

header {
    width: 100%;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

header .header-text {
    
    padding: 0.5vh;
    border-style: solid;

    background: linear-gradient(45deg,var(--color4) 0%, var(--colorDark0) 50%, var(--color6) 100%);
    border-color: var(--colorDark1);

    border-width: 1vh;

}

header h1 {
    font-family: 'something', monospace;
    font-size: 3vw;
    text-shadow: 2px 2px 2px var(--colorDark1);
    color: var(--color2);
}

header p {
    font-family: 'something', monospace;
    font-size: 0.9vw;
    text-shadow: 2px 2px 2px var(--colorDark1);
    color: var(--color2);
}

main {
    margin-top: 2rem;
    width: 100%;
    height: 100%;
    overflow: auto;

}

main section {
    background-color: var(--color1);
    border: 3px solid var(--colorDark1);
    width: 30%;
    height: 30vh;
    overflow: auto;
}

main section.right {
    margin-right: 2vw;
}

main section.left {
    margin-left: 2vw;
}

/* footer 
    contains version and author */

footer {
    position:absolute;
    margin-right: 1vw;
    bottom:0;
    right:0
}

footer p {
    text-shadow: 2px 2px 2px var(--colorDark1);
}

/* weird stuff */

.tutorial {
    display: none;
}

/* fonts */

/* importing noto emoji font */
@import url('https://fonts.googleapis.com/css2?family=Noto+Emoji:wght@300..700&display=swap');


@font-face {
    font-family: 'something';
    src: url('/assets/fonts/woff/texgyreadventor-regular.woff') format('woff');
}

@font-face {
    font-family: 'nothing';
    src: url('/assets/fonts/woff/AdwaitaMono-Regular.woff') format('woff');
}

@font-face {
    font-family: 'anything';
    src: url('/assets/fonts/woff/unifont.woff') format('woff');
}