body, html, * {
    margin: 0;
    padding: 0;
    overflow: hidden;
    font-family: monospace;
}

#background {
    z-index: -5;
    position: fixed;
    width: 100vw;
    height: 100vh;
    background-image: url(/assets/images/backgrounds/Holodeck.png);
    background-repeat: repeat;
    overflow: hidden;
}