:root{
    /*these are edited by the script colors.js, don't worry about it*/
    --color0:ffffff;
    --color1:ffffff;
}

.colorful_0 {
    color:var(--color0)
}

.colorful_1 {
    color:var(--color1)
}