
/* --- Draggable Button Style --- */

.button {
    position: absolute;
    width: 3.5vw;
    height: 3.5vw;
    border-radius: 50%;
    z-index: 1000;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5vw;
    font-weight: bold;
    color: white;
    pointer-events: auto;
    cursor: grab;
    transition: transform 0.1s linear;

    user-select: none;
}

.button.front {
    pointer-events: auto;
    cursor: grab;
}
