.float-text {
  width: auto;
    position: absolute;
    font-size: 30px;
    color: white;
    opacity: 0.6;
    animation: drift 10s infinite alternate ease-in-out;
}

.rotate-text {
  position: absolute;
  font-size: 30px;
  color: white;
  opacity: 0.6;
  animation: rotate 10s infinite alternate ease-in-out;
}

.spinning-text {
  position: absolute;
  font-size: 30px;
  color: white;
  opacity: 0.6;
  animation: spin 10s infinite alternate ease-in-out;
}

.float-text:hover {
    opacity: 1;
    animation-play-state: paused;
    color: #FFD700; /* or whatever highlight color you want */
    user-select: none;
}
  
.rotate-text:hover {
  opacity: 1;
  animation-play-state: paused;
  color: #FFD700; /* or whatever highlight color you want */
  user-select: none;
}

.spinning-text:hover {
  opacity: 1;
  animation-play-state: paused;
  color: #FFD700; /* or whatever highlight color you want */
  user-select: none;
}

@keyframes drift {
    0% {
      transform: translate(0px, 0px) rotate(0deg);
    }
    100% {
      transform: translate(500px, 0px) rotate(0deg);
    }
}

@keyframes rotate {
    0% {
      transform: translate(0px, 0px) rotate(0deg);
    }
    100% {
      transform: translate(0px, 0px) rotate(360deg);
    }
}

@keyframes spin {
  0% {
    transform: translate(0px, 0px) rotate(0deg);
  }
  100% {
    transform: translate(500px, 0px) rotate(0deg);
  }
}