
#arrow {
  position: fixed;
  font-size: 30px;
  user-select: none;
}

.float-text {
  position: fixed;
  text-align: justify;
  justify-self: left;
  font-size: 30px;
  opacity: 0.6;
  animation: drift 10s infinite alternate ease-in-out;
}

.rotate-text {
  position: fixed;
  font-size: 30px;
  opacity: 0.6;
  animation: rotate 10s infinite alternate ease-in-out;
}

.spinning-text {
  position: fixed;
  font-size: 20px;
  opacity: 0.6;
  animation: spin 10s infinite alternate ease-in-out;
}

.float-text:hover {
    opacity: 1;
    animation-play-state: paused;
    user-select: none;
}
  
.rotate-text:hover {
  opacity: 1;
  animation-play-state: paused;
  user-select: none;
}

.spinning-text:hover {
  opacity: 1;
  animation-play-state: paused;
  user-select: none;
}

#versions {
  color: pink;
}

@keyframes drift {
    0% {
      transform: translate(800px, 0px) rotate(0deg);
    }
    100% {
      transform: translate(0px, 0px) rotate(0deg);
    }
}

@keyframes rotate {
    0% {
      transform: translate(0px, 0px) rotate(-42deg);
    }
    100% {
      transform: translate(0px, 0px) rotate(42deg);
    }
}